
allprojects {

  // main property
  project.ext.odecee_common = true

  // odecee plugin repositories
  repositories {
    maven  {
      credentials {
        username "<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_read_only_user') %>"
        password "<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_read_only_password') %>"
      }
        url "http://<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_elb') %>:<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_http_port') %>/<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_thirdparty_repository') %>"
    }
  }

  // Nexus
  project.ext.nexus_url = "http://<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_elb') %>:<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_http_port') %>"
  project.ext.nexus_user = "<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_deployment_user') %>"
  project.ext.nexus_password = "<%= scope.lookupvar('puppet-gradle-init-script::params::nexus_deployment_password') %>"

  ext.odeceeUploadArchives = {
    if (project.hasProperty("doPublish")) {
      uploadArchives {
        repositories {  
          mavenDeployer {  
              repository(url: "${project.nexus_url}/content/repositories/releases/") {                   
                  authentication(userName: nexus_user, password: nexus_password);  
              }  
              snapshotRepository(url: "${project.nexus_url}/content/repositories/snapshots") {  
                  authentication(userName: nexus_user, password: nexus_password);  
              }  
              pom.version = project.version 
              pom.artifactId = project.name
              pom.groupId = project.group           
          }  
        }
      }
    }
  }
}




